.*.swp
.*.swo
*~
*.orig
*.rej
.nfs*

/python/build/*
/python/finalbuild/*
/python/dist/*
/python/astra/*.pyc
/python/astra/*.cpp
/python/astra/*.c
/python/astra/config.pxi

/build/linux/.libs/*
/build/linux/Makefile
/build/linux/aclocal.m4
/build/linux/autom4te.cache/*
/build/linux/config.guess
/build/linux/config.log
/build/linux/config.status
/build/linux/config.sub
/build/linux/configure
/build/linux/cuda/*
/build/linux/install-sh
/build/linux/libastra.la
/build/linux/libtool
/build/linux/ltmain.sh
/build/linux/src/*
/build/linux/matlab/*
